@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
  font-family: "Poppins", sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: relative;
  width: 100%;
  /* height: 100vh; */

  /* overflow: hidden; */
}

header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://wallpapers.com/images/hd/oscars-edj069vicbg0oylg.jpg")
    no-repeat center center/cover;
  opacity: 0.6;
  z-index: -1;
}

header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent, #000);
  z-index: -1;
}

header video {
  position: absolute;
  max-width: 143%;
  height: 190%;
  top: -51%;
  right: -20%;
  z-index: -1;
}

header nav {
  margin-top: 10%;
  width: 100%;
  height: 10%;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}

header nav .logo_ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav .logo_ul img {
  width: 90px;
}

header nav .logo_ul h1 {
  color: #d39742;
}

header nav .logo_ul ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header nav .logo_ul ul li {
  padding: 3px 15px;
}

header nav .logo_ul ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  transition: 1s linear;
}

header nav .logo_ul ul li a:hover {
  color: rgb(251, 251, 251, 7);
}

header .content {
  position: relative;
  color: #fff;
  margin-top: 9%;
  padding-left: 12%;
}

header .content h1 {
  font-size: 50px;
}

header .content p {
  font-size: 13px;
  width: 350px;
  word-break: break-all;
}

header .content .details {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

header .content .details h6 {
  color: rgb(251, 251, 251, 7);
  font-size: 12px;
  margin-right: 10px;
}

header .content .details h5 {
  color: rgb(251, 251, 251, 7);
  font-size: 12px;
  margin-right: 10px;
}

header .content .details h4 {
  color: #fff;
  font-size: 12px;
  margin-right: 10px;
}

header .content .details h3 {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 12px;
}

header .content .details h3 span {
  background-color: yellow;
  color: black;
  padding: 0px 3px;
  margin: 0px 5px 0px 10px;
  font-weight: 500;
}

header .content .details h3 img {
  margin-right: 5px;
}

header .content .btns {
  margin-top: 20px;
  margin-left: -0.8%;
  display: flex;
  align-items: center;
}

header .content .btns a {
  padding: 9px 13px;
  font-size: 15px;
  font-weight: 600;
  background: linear-gradient(90deg, #d39742, #d39742);
  border-radius: 5px;
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
  margin-top: 12px;
}

header .afisha {
  /* position: relative; */
  position: absolute;
}
